.services {
  width: 70%;
  display: flex;
  justify-content: space-around;
  // background-color: red;
  margin: auto;
  padding: 50px 0;

  .services_title {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: left;
    margin-bottom: 2rem;
    width: 40%;
  }
}
