.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0; /* Set a value for the 'top' property to make it sticky at the top */
  z-index:5000;

  ul {
    list-style: none;
    padding: 0;
    // margin-right: 80px;
    display: flex;
  }

  li {
    margin-right: 40px;
  }

  a {
    text-decoration: none;
    color: #333;
  }
}

.menu_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
}
