.luxury1 {
    // display: flex;
    // background-color: red;
    .luxury1_inner {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 60%;
        // background-color: green;
    }
}


.luxury_images_card1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    // background-color: blue;
    .luxury_image {
        width: 100%;
        // max-width: 600vw;
        height: 50vh;
        // max-height: 50vh;
        // border-radius: 15px;
    }
}
.name_cart {
position: absolute;
top: 80%;
left: 50%;
}