.luxuryDetails {
  .luxuryDetails_cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    // margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    // background-color: red;
    .luxuryDetails_card {
      width: 25%;

      .luxuryDetails_image {
        border-radius: 15px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
