/* ImageSlider.css */
.full-screen-slider {
  width: 80%;
  margin-left: auto;
}

.full-screen-slider .slick-slide {
  margin: 0 0;
  width: 100%;
}

.full-screen-slider .slick-slide img {
  margin: auto;
  width: 100%;
  background-color: lightblue;
  border-radius: 10%;
  padding: 10px;
}

.full-screen-slider .slick-prev,
.full-screen-slider .slick-next {
  font-size: 24px;
  z-index: 1;
}

.full-screen-slider .slick-prev {
  margin-left: 10px;
}

.full-screen-slider .slick-next {
  margin-right: 10px;
}

.category_label {
  width: 80%;
  text-align: left;
  margin-left: auto;
  padding: 0;
}

.category {
  background-color: lightblue;
  padding: 43px 20px 102px 0;
  margin-bottom: 50px;
}
