/* ImageSlider.css */
.full-screen-slider {
  width: 85%;
  margin-left: auto;
}

.full-screen-slider .slick-slide img {
  width: 100%;
  max-width: 100%;
  border-radius: 20px;
  padding: 10px;
  margin: 0;
}

.full-screen-slider .slick-slide {
  margin: 0; /* Adjust the value as needed for the desired gap */
  position: relative; /* Ensure relative positioning for absolute child */
  background-color: lightblue;
}

.full-screen-slider .slick-prev,
.full-screen-slider .slick-next {
  font-size: 44px;
  z-index: 1;
}

.full-screen-slider .slick-prev {
  margin-left: 10px;
}

.full-screen-slider .slick-next {
  margin-right: 10px;
}

.category_label {
  width: 85%;
  text-align: left;
  margin-left: auto;
  padding: 0;
}

.category {
  background-color: lightblue;
  padding: 43px 20px 102px 0;
  margin-bottom: 50px;
}
