.luxury2 {
  margin-bottom: 50px;

  .luxury2_inner {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    // background-color: red;
  }

  .luxury_images_card2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    // background-color: blue;
    .luxury_image {
      width: 100%;
      // max-width: 600vw;
      height: 50vh;
      // max-height: 50vh;
      // border-radius: 15px;
    }
  }

  .name_cart {
    position: absolute;
    top: 80%;
    left: 40%;
    padding: 0 20px;
    border-radius: 15px;
    background-color: #fff;
    cursor: pointer;
  }
}
