.luxury2 {
  .luxury2_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // gap: 1px;
    width: 100%;
    margin: auto;
    background-color: blue;
    // padding: 0;

    .luxury2_images_card {
      display: flex;
      flex-direction: column;
      background-color: rgb(12, 204, 92);
      // padding: 5px;
      width: 50%;
      // height: 100%; /* Set a specific height for the container */
      
      .luxury2_image {
        width: 100%;
        height: 600px;
        object-fit: cover;
      }
    }
  }
}


