.search_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  width: 80%;
  gap: 60px;
  margin: auto;

  .logo {
    // display: flex;
    // align-self: center;
    // background-color: rgb(23, 0, 128);
    // width: 13.3%;
    // margin-left: auto;
  }

  .header {
    // width: 20.3%;
  }

  .search {
    // display: flex;
    // align-self: center;
    // justify-content: center;
    // background-color: #720808;
    // width: 60%;
    // margin-left: auto; /* Move the entire div to the right */
  }
}

.menu {
  display: flex;
  justify-content: center;
}
