.search_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  width: 80%;
  gap: 60px;
  margin: auto;

  .logo {
    // display: flex;
    // align-self: center;
    // background-color: rgb(23, 0, 128);
    // width: 13.3%;
    // margin-left: auto;
  }

  .header {
    // width: 20.3%;
  }

  .search {
    // display: flex;
    // align-self: center;
    // justify-content: center;
    // background-color: #720808;
    // width: 60%;
    // margin-left: auto; /* Move the entire div to the right */
  }
}

.menu {
  display: flex;
  justify-content: center;
}

.luxury {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
  // background-color: red;

  .luxury_image {
    // display: flex;
    width: 100%;
    height: 500px;
    background-color: rgb(0, 0, 0);
    border-radius: 5%;
    padding: 10px;
  }

  h2 {
    position: relative;
    top: -105px;
    right: -7px;
    background-color: #fff;
    border-radius: 10%;
    font-size: 1.2em;
    width: 10%;
    padding: 15px;
  }
}

.luxury2 {
  display: flex;
  // justify-content: center;
  // align-content: center;
  // align-items: center;
  margin: auto;
  // width: 100%;
}

.luxury2_image_cont {
  // display: flex;
  // justify-content: center;
  // align-content: center;
  // align-items: center;
  // margin: auto;
  // width: 100%;
  // background-color: red;

  .luxury2_image {
    display: flex;
    width: 100%;
    // height: 500px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
  }

  h2 {
    position: relative;
    top: -154px;
    right: -434px;
    background-color: #fff;
    border-radius: 10%;
    font-size: 1.2em;
    width: 15%;
    padding: 15px;
    // text-align: center;
  }
}
