.header {
  // position: -webkit-sticky;
  // position: sticky;
  // top: 0;
  // background-color: #fff;
  // z-index: 100;
  border-bottom: 1px solid #ccc; /* Add a border if needed */
}

.header ul {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0;
  list-style-type: none;
}

.header li {
  margin-right: 25px;
}

.header a {
  text-decoration: none;
  color: #333;
}


