.favItem {
//   display: flex;
//   justify-content: center;
//   flex-wrap: wrap;
  width: 25%;
  margin: 10px;
//   background-color: red;
//   margin-bottom: 20px;


  .favItem__image {
    width: 100%;
  }
}
