.myfav {
  // box-sizing: border-box;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // width: 100%;
  // margin: auto;
  // padding-top: 100px;

  .myfav_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    // display: flex;
    flex-wrap: wrap;
    // width: 100%;
    // // margin: auto;
    text-align: left;
    // background-color: red;

      .favItem__image {
        // padding: 10px;
        // width: 100%;
        // border-radius: 15px;
        // padding: 20px;
        // background-color: green;
      }
    }
    .myfav_addmorebtn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }
  }
