.myCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(252, 247, 247);
  width: 30%;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding-top: 10px;

  .title_closebtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;

    .cart_no {
      background-color: rgb(64, 91, 212);
      border-radius: 50%;
      width: 20px; /* Adjust the width to your preference */
      height: 20px; /* Keep the height the same as width to maintain a circular shape */
      font-size: 0.6em;
      font-weight: 900;
      position: relative;
      top: -10px;
      left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      padding: 1px;
    }
    
    h2 {
      display: flex;
      align-items: center;
      justify-content: baseline;
      // background-color: red;
      margin-left: 5px;
      gap: 5px;
      // font-size: 1.5em;
      font-weight: 900;
      margin: 0;
    }
    button {
      background-color: transparent;
      border: none;
      font-size: 1.5em;
      cursor: pointer;
    }
  }

  .myCart_cont {
    display: flex;
    // padding: 2rem;
    // text-align: center;
    // margin: auto;

    .myCart_card {
      display: flex;
      // background-color: blue;
      width: 100%;
      justify-content: center;
      // align-items: center;
      // align-content: center;
      padding: 12px;
      margin-bottom: 20px;
      scroll-behavior: smooth;

      .myCart_img_cont {
        width: 50%;
        margin-right: 10px;
        // background-color: green;
        .cart_image {
          width: 100%;
          height: 100%;
          border-radius: 5%;
        }
      }
      .cart_desc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        // background-color: yellow;
        margin-top: 0;
        padding: 0;
        // gap: 0;

        .cart_title {
          font-weight: 900;
          margin-top: 0;
        }
        .cart_desc {
          font-size: 1em;
          text-align: left;
        }
        .cart_price {
          font-weight: 900;
          margin-top: 0;
        }

        .myCart_addmorebtn {
          display: flex;
          gap: 15px;
          align-items: center;
          // background-color: red;
          width: 100%;
          button {
            background-color: transparent;
            border: none;
            font-size: 1.5em;
            cursor: pointer;
          }
        }
      }
    }
  }

  .cart_summary_checkout {
    display: flex;
    flex-direction: column;
    // margin: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);

    .cart_total {
      display: flex;
      justify-content: space-between;
      // width: 100%;
      margin-bottom: 1rem;
      // background-color: blue;
      padding: 15px;

      .cart_total_cont {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        .cart_total_desc {
          display: flex;
          justify-content: space-between;
          // width: 100%;
          border-bottom: 1px solid grey;
        }
      }
    }
    .view_cart_btn {
      width: 100%;
      button {
        background-color: grey;
        color: white;
        width: 100%;
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    .checkout_btn {
      width: 100%;
      button {
        background-color: blue;
        color: white;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    .termsCheckbox {
      display: flex;
      margin-bottom: 1rem;
      align-items: center;
      padding: 10px;

      .checkbox {
        margin-right: 1rem;
      }
    }
  }
}
