.banner_slider .slick-slide img {
  margin: auto;
  width: 100%;
  background-color: lightblue;
  position: relative; /* Ensure relative positioning for absolute child */
}

.slick-slide {
  margin: 0; /* Adjust the value as needed for the desired gap */
  position: relative; /* Ensure relative positioning for absolute child */
}

.slick-prev,
.slick-next {
  font-size: 24px;
  z-index: 1;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.image_desc {
  position: absolute;
  top: 45%; /* Center vertically */
  left: 26%; /* Center horizontally */
  transform: translate(-50%, -50%);
  height: 230px;
  // background-color: #720808;
  padding: 10px; /* Add padding for better visibility */
  color: white; /* Set text color */
  z-index: 1000;
  text-align: center; /* Center text within the description box */
  opacity: 0; /* Initially hide the description */
  transition: 0.5s ease;
  width: 40%;
}

.slick-active .image_desc {
  opacity: 1; /* Show the description for the active slide */
}
